@import "../../../core/scss/params";

.menu {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: $base * 2;
  width: $menu-width;
  transition-duration: $transition-duration;

  &__top {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: $base * 2;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    gap: $base * 2;
  }

  &_prevent-animation {
    transition-duration: 0s;
  }

  &:not(&_open) {
    width: $input-height;
  }
}
