@import "../../../scss/params";

.switch-field-control {
  width: fit-content;

  &.field-control_error {
    &.MuiFormControl-root {
      & .MuiButtonBase-root {
        & + .MuiSwitch-track {
          background-color: lighten($color-red, 20%);
        }

        &.Mui-checked {
          & + .MuiSwitch-track {
            background-color: $color-red;
          }
        }
      }
    }
  }

  &.MuiFormControl-root {
    & .MuiFormControlLabel-root {
      & .MuiFormControlLabel-label {
        font-size: 1rem;
        font-family: $font-family;
      }
    }

    & .Mui-disabled {
      cursor: not-allowed;
    }
  }

  &.field-control_is-loading {
    width: $base * 20;
  }
}
