@import "../../../../../../core/scss/params";

.module-page {
  & .page__quick-filter {
    & .progress {
      height: $input-height;
      width: $base * 50;
      display: flex;
      align-items: center;
      padding-right: $base * 2;
    }
  }

  //&_complete {
  //  border: solid 2px $color-green;
  //}
  //&_complete .page__top {
  //  padding: $base * 2 - 2;
  //  padding-bottom: 0;
  //}
  //&_complete .page__children {
  //  padding: $base * 4 - 2;
  //  padding-top: $base * 4;
  //}
}
