@import "../../../scss/params";

.month-range-field-control {
  &__popover {
    & .MuiPaper-root {
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
        0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__header {
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: $base * 3;
    background-color: $color-grey-10;
  }
  &__years {
    display: flex;
    justify-content: center;
    padding: $base * 2;
    gap: $base * 2;
    background-color: $color-grey-10;
  }
  &__year {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    gap: $base * 2;
  }
  &__year-select {
    flex: 1 1 auto;

    & .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  }
  &__month-range-picker {
    display: flex;
    justify-content: center;
    gap: $base * 2;
    padding: $base * 2;
  }
  &__month-picker {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: $base * 2 0;
  }
  &__month {
    overflow: hidden;

    & .button {
      border-radius: 0;
      width: 100%;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding: $base * 2;
    gap: $base * 2;
    background-color: $color-grey-10;
  }
}
