@import "../../../../../core/scss/params";

.login-form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin: $base * 4 0;

  & .form {
    min-width: $base * 60;
  }
}
