@import "../../../scss/params";

.form-section {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $base * 4;
    gap: $base * 5;

    &-left {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 auto;
      gap: $base * 5;

      &-text {
        flex: 1 1 auto;
        display: flex;
      }
      &-collapse {
        display: flex;
        align-items: center;
        color: $color-grey-100;
        margin-top: -$base;
        margin-bottom: -$base;

        & .MuiSvgIcon-root {
          font-size: 2.2rem;
        }
      }
    }
    &-right {
      flex: 0 0 auto;
    }
  }
  &_collapsible &__title {
    &-left {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &_collapsed &__title {
    margin-bottom: 0;
  }

  &__label {
    font-size: 1.3rem;
    line-height: normal;
    font-weight: 500;

    &-error {
      color: $color-red;
    }
    &-success {
      color: $color-green;
    }
  }
  &_collapsible &__label {
    cursor: pointer;
  }

  &__subtitle {
    color: $color-grey-100;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: $base * 4;
  }
  &_collapsed &__subtitle {
    margin-bottom: 0;
  }

  &__content {
    position: relative;
    flex: 1 1 auto;
    display: grid;
    gap: $base * 4;

    &_right {
      display: flex;
      justify-content: flex-end;
    }
    &_left {
      display: flex;
      justify-content: flex-start;
    }
    &_center {
      display: flex;
      justify-content: center;
    }
    &_collapsed {
      display: none !important;
    }
  }
}
