@import "../../../scss/params";

.section {
  display: flex;
  flex-direction: column;
  gap: $base * 4;
}
.section_title {
  font-size: 1.2rem;
  line-height: 37px;
  font-weight: 600;
  display: flex;
  gap: $base * 2;
}
.section_title_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}
.section_title_text_extra {
  color: $color-grey-100;
  flex: 0 0 auto;
  display: flex;
}
