@import "../../../scss/params";

.checkbox-field-control {
  width: fit-content;

  &.MuiFormControl-root {
    & .MuiFormControlLabel-root {
      align-items: flex-start;
    }

    & .MuiFormControlLabel-label {
      font-size: 1rem;
    }

    & .MuiCheckbox-root {
      height: $input-height;

      &:hover {
        background-color: fade($color-blue, 10);
      }

      &.Mui-checked {
        color: $color-blue;
        & .MuiSvgIcon-root {
          color: $color-blue;
        }
      }
    }

    & .MuiTypography-root {
      display: flex;
      align-items: center;
      line-height: $base * 3;
      padding: $base * 2 0;
    }

    & .Mui-disabled {
      background-color: transparent;
      cursor: not-allowed;

      & svg {
        fill: $color-grey-70;
      }
    }
  }

  &.field-control_error {
    &.MuiFormControl-root {
      & .MuiCheckbox-root {
        color: $color-red;

        & .MuiSvgIcon-root {
          fill: $color-red;
        }
        &.Mui-disabled .MuiSvgIcon-root {
          fill: lighten($color-red, 20%);
        }

        &:hover {
          background-color: fade($color-red, 10);
        }
      }
    }
  }

  &.field-control_is-loading {
    min-width: $base * 20;
  }
}
