@import "../../scss/params";

.field-control {
  position: relative;

  &.MuiFormControl-root {
    & .MuiFormLabel-root {
      font-family: $font-family;
      font-size: 1rem;
      &.Mui-focused {
        color: $color-grey-200;
      }
      &.Mui-error {
        color: $color-red;
      }
    }
    & .MuiOutlinedInput-notchedOutline {
      border-color: lighten($color-grey-200, 40%);
      & legend {
        font-size: 1rem;
      }
    }
    & .MuiFormHelperText-root {
      margin: $base 0 0 0;
      font-size: 0.9rem;

      &.Mui-error {
        color: $color-red;
      }
    }
    & .MuiSvgIcon-root {
      color: $color-grey-130;
    }

    & .MuiInputBase-root {
      height: $input-height;
      border-radius: $border-radius-default;
      background-color: $color-white;
    }
    & .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline,
    & .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: lighten($color-grey-200, 20%);
    }
    & .MuiInputBase-root.Mui-error .MuiOutlinedInput-notchedOutline {
      border-color: $color-red;
    }

    & .MuiInputBase-input {
      font-family: $font-family;
      font-size: 1rem;
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
      z-index: 1;
    }

    & .MuiInputLabel-outlined {
      transform: translate(16px, 18px) scale(1);
    }
    & .MuiInputLabel-outlined.MuiInputLabel-shrink {
      transform: translate(16px, -5px) scale(0.8);
    }

    & .Mui-disabled {
      cursor: not-allowed;
    }
    &:not(.checkbox-field-control):not(.radio-group-field-control):not(.switch-field-control)
      .Mui-disabled {
      color: $color-grey-200;

      &.Mui-error {
        background-color: transparent;
      }
    }
    & .MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
      border-color: lighten($color-grey-200, 40%);
      background-color: $color-grey-20;
    }

    & .MuiInputAdornment-root {
      z-index: 1;

      & .MuiTypography-body1 {
        font-size: 1rem;
        font-family: $font-family;
        color: $color-grey-130;
      }
    }
  }

  &_is-view {
    min-height: $input-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &_is-loading {
    min-height: $input-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &_height_auto {
    min-height: auto;
    height: auto;
  }

  &_size_small#{&} {
    &.MuiFormControl-root {
      & .MuiInputBase-root {
        height: $input-height-small;
      }
      & .MuiOutlinedInput-input {
        line-height: $input-height-small;
        padding-left: $base * 2;
      }
    }
  }
  &_size_small#{&}_is-view {
    min-height: $input-height-small;
  }
  &_size_small#{&}_is-loading {
    min-height: $input-height-small;
  }

  &_size_x-small#{&} {
    &.MuiFormControl-root {
      & .MuiInputBase-root {
        height: $input-height-x-small;
      }
      & .MuiOutlinedInput-input {
        line-height: $input-height-x-small;
        padding-left: $base + 2;
      }
    }
  }
  &_size_x-small#{&}_is-view {
    min-height: $input-height-x-small;
  }
  &_size_x-small#{&}_is-loading {
    min-height: $input-height-x-small;
  }

  &_no-data {
    color: $color-grey-100;
  }
  &_disabled {
    cursor: not-allowed;
  }
}
