@import "../../scss/params";

.toolbar {
  display: flex;
  gap: $base * 2;
  justify-content: space-between;

  &__left {
    flex: 1 1 auto;
    display: flex;
    gap: $base * 2;
  }
  &__right {
    display: flex;
    gap: $base * 2;
  }
}
