@import "../../../../core/scss/params";
@import "params";

.ag-grid {
  height: 100%;
  font-size: 1rem;
  color: $color-black;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  &_no-border {
    &.ag-theme-material {
      & .ag-cell {
        border: none !important;
      }
    }
  }
  &_no-header {
    & .ag-header {
      display: none !important;
    }
  }

  &.ag-theme-material {
    font-family: $font-family;
    font-size: 1rem;

    // row
    & .ag-row {
      border: none;
    }
    & .ag-row-hover {
      background-color: $color-grey-10;
      cursor: pointer;
    }

    // row new
    & .ag-row-green {
      font-weight: 500;
      background-color: rgba($color-green-dark, 0.1);
    }
    & .ag-row-green.ag-row-hover {
      background-color: rgba($color-green-dark, 0.15);
    }

    // row selected
    & .ag-row-selected {
      background-color: rgba($color-blue, 0.1);
    }
    & .ag-row-selected.ag-row-hover {
      background-color: rgba($color-blue, 0.15);
    }

    // header
    & .ag-header {
      font-size: 1rem;
      border-bottom: solid 2px $color-grey-20;
    }
    & .ag-header-row:not(:first-child) .ag-header-cell {
      border-color: $color-grey-30;
    }
    & .ag-header-cell,
    & .ag-header-row {
      font-size: 1rem;
      font-weight: 500;
      color: $color-grey-200;
    }

    // cell color
    & .ag-filter-toolpanel-header,
    & .ag-filter-toolpanel-search,
    & .ag-status-bar,
    & .ag-panel-title-bar-title,
    & .ag-side-button-button,
    & .ag-multi-filter-group-title-bar {
      font-size: 1rem;
      font-weight: 500;
      color: $color-black;
      border-top: none;
      border-bottom: none;
    }
    & .ag-cell-focus {
      background-color: rgba($color-orange, 0.1);
    }
    & .ag-cell.ag-cell-last-left-pinned {
      border-right-color: $color-grey-40;
    }

    // cell padding
    & .ag-header-cell,
    & .ag-header-group-cell,
    & .ag-cell,
    & .ag-full-width-row .ag-cell-wrapper.ag-row-group {
      padding: 0 $padding * 2;
      border-top: none;
      border-bottom: none;
    }

    // cell editing
    & .ag-cell-inline-editing {
      height: 100%;
      box-shadow: none;
      background-color: rgba($color-orange, 0.1);
      border-radius: 0;

      & .ag-input-wrapper {
        align-items: flex-start;
      }

      & input {
        padding: 0;
        border: none !important;
        text-align: right;
      }
    }
    & .ag-has-focus .ag-cell-inline-editing {
      border-color: $color-blue !important;
    }

    // horizontal scroll
    & .ag-body-horizontal-scroll.ag-scrollbar-invisible {
      pointer-events: auto;
    }

    // checkbox
    & .ag-checkbox {
      margin-right: $base * 3;
    }
    & .ag-selection-checkbox {
      margin-right: 0;
    }
    & .ag-checkbox-input-wrapper input {
      cursor: pointer;
    }
    & .ag-checkbox-input-wrapper::after {
      color: $color-grey-80;
    }
    & .ag-checkbox-input-wrapper.ag-checked::after {
      color: $color-blue;
    }
  }

  &-toolbar {
    padding: 0 $base * 4 $base * 3 $base * 4;

    &_no-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &-footer {
    border-top: solid 2px $color-grey-20;
    padding: $base * 3 $base * 4;
    display: flex;
    gap: $base;

    &__label {
    }
    &__filtered {
      font-weight: 500;
    }
    &__total {
      display: flex;
      gap: $base;

      &:before {
        content: "/";
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}
