@import "../../../../../core/scss/params";

.block-tabs-label {
  display: flex;
  gap: $base * 2;
  align-items: flex-start;
  width: 100%;

  &__icon {
    display: flex;
    color: $color-grey-50;
  }
  &__label {
    padding: 2px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }

  &_complete &__icon {
    color: $color-blue;
  }
  &_complete-all &__icon {
    color: $color-green;
  }
}
