@import "../../scss/params";
@import "../../scss/animations";

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;

  &_relative {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
  }

  &-backdrop {
    background-color: rgba($color-white, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &_color_white {
    & .MuiCircularProgress-svg {
      color: $color-white;
    }
  }
}
