@import "../../../scss/params";

.multi-select-ext-field-control {
  overflow: hidden;

  &__placeholder {
    color: $color-grey-100;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__menu {
    & .MuiPaper-root {
      max-height: $base * 80;
      display: flex;
      overflow: hidden;
      flex-direction: column;
    }

    & .checkbox-field-control {
      & .MuiFormControlLabel-root {
        margin: 0;
      }
    }

    &-item {
      display: flex;
      padding: 0 $base * 2 + 2;
      align-items: center;
      cursor: pointer;
      gap: $base * 2;

      & .checkbox-field-control {
        flex: 0 0 auto;
        margin-right: -$base * 2;
        margin-left: -$base * 2;
      }

      &:hover {
        //background-color: $color-grey-20;
        opacity: 0.7;
      }

      &_no-data {
        color: $color-grey-130;
        padding: $base * 2 + 2;
        text-align: center;
      }

      &_checked {
        background-color: $color-grey-20;
      }
    }
  }

  &__search {
    width: 100%;
    box-sizing: border-box;
    padding: $base * 2 + 2;
    flex: 0 0 auto;

    & .field-control {
      width: 100%;
    }
  }

  &__content {
    flex: 1 1 auto;
    overflow: auto;
    padding-bottom: $base * 2 + 2;
  }

  &__buttons {
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: $base * 2 + 2;
    background-color: $color-grey-20;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $base * 2 + 2;
  }
}
