@import "../../../scss/params";

.bread-crumb {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &__separator {
    display: flex;
    color: $color-grey-150;
  }

  &__dropdown {
    & .MuiMenuItem-root {
      display: flex;
      gap: $base * 2;
    }
    & .MuiListItemIcon-root {
      min-width: unset;
    }
    & .MuiListItemText-root .MuiTypography-root {
      font-weight: 500;
    }
  }
}
