@import "../../../../core/scss/params";

.field {
  display: flex;
  flex-direction: column;
  gap: $base;
  padding: $base * 2;
  margin-left: -$base * 2 !important;
  margin-right: -$base * 2 !important;
  border-radius: $radius;
  &:hover {
    background-color: $color-grey-20;
  }
}
.field_active {
  background-color: $color-grey-20;
}
.field_title {
  display: flex;
  gap: $base * 2;
  font-weight: 600;
}
