@import "../../../scss/params";

.select-field-control {
  overflow: hidden;

  &.MuiFormControl-root {
    & .MuiInputBase-root {
      padding-right: 0;
    }
    & .MuiInputBase-input {
      line-height: $input-height;
    }
  }

  &__menu {
    & .MuiPaper-root {
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
        0px 1px 5px 0px rgb(0 0 0 / 12%);
    }

    & .MuiList-root .MuiMenuItem-root {
      font-size: 1rem;
      padding-top: $base + 2;
      padding-bottom: $base + 2;
    }

    & &-item_disabled {
      color: $color-grey-100;
    }
  }

  &.field-control_no-data {
    & .MuiInputBase-input {
      color: $color-grey-100;
    }
  }

  &:not(.field-control_no-data) {
    & .MuiInputBase-input {
      padding-right: 0;
    }
  }
}
