@import "../../../../core/scss/params";

.item {
  width: 100%;
}
.item_hover {
  cursor: pointer;
  background-color: $color-grey-10;
}
.item_container {
  display: flex;
  padding: $base * 2 $base * 3;
  gap: $base * 2;
  overflow: hidden;
}
.item_checkbox {
  flex-grow: 0;
  margin-right: -$base * 2;
}
.item_content {
  display: flex;
  flex-grow: 1;
  gap: $base * 3;
  overflow: hidden;
}
