@import "../../../core/scss/params";

$height: $base;

.progress {
  padding: 0;
  color: $color-grey-150;
  display: flex;
  align-items: center;
  gap: $base * 2;
  width: 100%;
  transition-duration: $transition-duration;

  &__label {
    font-weight: 500;

    &:after {
      content: "%";
      margin-left: $base;
    }
  }

  & .form-field__content {
    flex-direction: row;
    align-items: center;
    gap: $base * 4;
  }
  & .MuiLinearProgress-root {
    flex: 1 1 auto;
    background-color: $color-grey-40;
    height: $height;
    border-radius: $height / 2;
    overflow: hidden;
  }
  & .MuiLinearProgress-bar {
    background-color: $color-blue;
    transition: none;
  }
}
