@import "../../../../../../core/scss/params";
@import "../../params";

.multi-renderer {
  height: 100%;
  display: block;
  line-height: $line-height;
  padding: $padding 0;
  white-space: normal;
  word-break: break-word;
}
