@import "../../../../../core/scss/params";

.module-block {
  display: flex;
  flex-direction: column;
  gap: $base * 3;

  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 500;
    color: $color-grey-100;
    flex: 0 0 auto;
  }
  &__name {
    display: flex;
    font-size: 1.3rem;
    font-weight: 500;
    color: $color-grey-250;
    flex: 0 0 auto;
    line-height: 1.5;
  }
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    gap: $base * 2;
    padding: $base * 3 0;
  }
  &__li {
    display: flex;
    gap: $base * 2;
    align-items: flex-start;

    &-icon {
      display: flex;
      color: $color-grey-50;
    }
    &-label {
      display: flex;
      padding: 2px 0;
    }

    &_complete &-icon {
      color: $color-blue;
    }
  }

  &.card_complete &__li_complete &__li-icon {
    color: $color-green-dark;
  }
}
