@import "../../../core/scss/params";

.notifications {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: $border-radius-default * 2;
  width: $base * 50;
  gap: $base * 2;
  height: 100%;
  padding: $base * 2;

  &__header {
    display: flex;
    align-items: center;
    padding-left: $base * 2;
  }
  &__title {
    flex: 1 1 auto;
    color: $color-grey-200;
    font-weight: 500;
  }
  &__content {
    padding: $base * 2;
    display: flex;
    flex-direction: column;
    gap: $base * 2;
  }
}
