@import "../../../../../../core/scss/params";
@import "../../params";

.edit-renderer {
  line-height: $line-height;
  padding: $padding 0;
  height: 100%;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
