@import "../../../scss/params";

.autocomplete-field-control {
  & .MuiAutocomplete-root {
    & .MuiInputBase-root {
      & .MuiAutocomplete-endAdornment {
        top: unset;
      }
      & .MuiAutocomplete-input {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

.MuiAutocomplete-popper {
  padding: $base * 2 0;
  font-family: $font-family;
}
