@import "../../scss/params.scss";

.button {
  &-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.MuiButton-root {
    font-size: 1rem;
    text-transform: none;
    box-shadow: none;
    border-radius: $border-radius-default;
    line-height: normal;
    transition: none;
    letter-spacing: normal;
    white-space: nowrap;
    position: relative;
    gap: $base * 2;
    min-width: auto;
    overflow: hidden;

    &:hover {
      box-shadow: none;
    }
    & * {
      margin: 0;
    }
  }

  &.button_size_default {
    height: $input-height;
    padding: 0 $base * 6;
  }
  &.button_size_big {
    height: $input-height-big;
    padding: 0 $base * 12;
    font-size: 1.5rem;
    width: auto;
  }
  &.button_size_medium {
    height: $input-height;
    padding: 0 $base * 2 - 2;
    width: auto;
  }
  &.button_size_small {
    height: $input-height-small;
    padding: 0 $base * 2 - 2;
    width: auto;
  }
  &.button_size_x-small {
    height: $input-height-x-small;
    padding: 0 $base * 2 - 2;
    width: auto;
    font-size: 0.8rem;
  }

  &.MuiButton-outlined {
    border: solid 2px transparent;
    background-color: $color-white;

    &.button_color_grey {
      color: $color-grey-200;
      border-color: lighten($color-grey-130, 20%);
      &:hover {
        border-color: $color-grey-130;
      }
    }
    &.button_color_grey-light {
      color: $color-grey-150;
      border-color: lighten($color-grey-100, 15%);
      &:hover {
        border-color: $color-grey-100;
      }
    }
    &.button_color_blue {
      color: $color-blue;
      border-color: lighten($color-blue, 20%);
      &:hover {
        border-color: $color-blue;
      }
    }
    &.button_color_green {
      color: $color-green-dark;
      border-color: rgba($color-green-dark, 0.7);
      &:hover {
        border-color: $color-green-dark;
      }
    }
    &.button_color_red {
      color: $color-red;
      border-color: lighten($color-red, 20%);
      &:hover {
        border-color: $color-red;
      }
    }
    &.button_color_orange {
      color: $color-orange;
      border-color: lighten($color-orange, 20%);
      &:hover {
        border-color: $color-orange;
      }
    }
  }
  &.MuiButton-contained {
    &.button_color_grey {
      color: $color-grey-200;
      background-color: $color-grey-50;
      &:hover {
        color: $color-grey-200;
        background-color: darken($color-grey-50, 5%);
      }
    }
    &.button_color_grey-light {
      color: $color-grey-150;
      background-color: $color-grey-20;
      &:hover {
        color: $color-grey-150;
        background-color: $color-grey-40;
      }
    }
    &.button_color_blue {
      color: $color-white;
      background-color: $color-blue;
      &:hover {
        color: $color-white;
        background-color: darken($color-blue, 10%);
      }
    }
    &.button_color_green {
      color: $color-white;
      background-color: $color-green-dark;
      &:hover {
        color: $color-white;
        background-color: darken($color-green-dark, 7%);
      }
    }
    &.button_color_red {
      color: $color-white;
      background-color: $color-red;
      &:hover {
        color: $color-white;
        background-color: darken($color-red, 10%);
      }
    }
    &.button_color_orange {
      color: $color-white;
      background-color: $color-orange;
      &:hover {
        color: $color-white;
        background-color: darken($color-orange, 10%);
      }
    }
  }
  &.MuiButton-text {
    &.button_color_grey {
      color: $color-grey-170;
      &:hover {
        background-color: rgba($color-black, 0.03);
      }
    }
    &.button_color_grey-light {
      color: $color-grey-80;
      &:hover {
        background-color: rgba($color-black, 0.03);
      }
    }
    &.button_color_blue {
      color: $color-blue;
      &:hover {
        background-color: rgba($color-blue, 0.1);
      }
    }
    &.button_color_green {
      color: $color-green-dark;
      &:hover {
        background-color: rgba($color-green-dark, 0.1);
      }
    }
    &.button_color_red {
      color: $color-red;
      &:hover {
        background-color: rgba($color-red, 0.1);
      }
    }
    &.button_color_orange {
      color: $color-orange;
      &:hover {
        background-color: rgba($color-orange, 0.1);
      }
    }
  }

  &.Mui-disabled.MuiButtonBase-root,
  &.Mui-disabled.MuiButtonBase-root:hover {
    color: $color-grey-100;
    background-color: $color-grey-20;
    border-color: transparent;
    cursor: not-allowed;
  }

  &.Mui-focusVisible {
    box-shadow: none;
  }

  & .MuiSvgIcon-root {
    font-size: 1.5rem;
  }
}
