@import "../../../scss/params";

.tag-field-control {
  & .tags {
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    height: 100%;

    &-more {
      margin-left: $base;
      font-weight: 500;
      color: $color-grey-140;
    }
  }
  & .Mui-disabled .tag {
    background-color: $color-grey-60;
    color: $color-black;
  }

  &__option {
    padding: $base * 2 0;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;

    & .tag,
    & .tag:hover {
      background-color: $color-grey-40;
      color: $color-black;
    }
  }

  &:not(.field-control_no-data) .MuiInputBase-input {
    padding-left: $base + 1;
  }

  &__menu .multi-select-ext-field-control__menu-item_checked &__option {
    & .tag {
      background-color: $color-blue;
      color: $color-white;
    }
  }
}
