@import "../../../scss/params";

.text-field-control {
  &.MuiFormControl-root {
    & .MuiInputBase-multiline {
      height: auto;
      padding-top: $base * 2;
      padding-bottom: $base * 2;
    }

    & .MuiInputBase-inputMultiline {
      padding: 0;
    }
  }
}
