@import "params.scss";

@keyframes loader-animation {
  0% {
    left: 0;
    right: 100%;
  }
  20% {
    left: 0;
    right: 20%;
  }
  25% {
    left: 20%;
    right: 0;
  }
  50% {
    left: 100%;
    right: 0;
  }
  70% {
    left: 20%;
    right: 0;
  }
  75% {
    left: 0;
    right: 20%;
  }
  100% {
    left: 0;
    right: 100%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  50% {
    transform: scale(0.6);
    opacity: 0;
  }
  60% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  80% {
    transform: scale(1.25);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate(-1px, 0);
  }
  20%,
  80% {
    transform: translate(2px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate(-4px, 0);
  }
  40%,
  60% {
    transform: translate(4px, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}
@keyframes flash {
  50% {
    border-color: $color-red;
  }
}
