@import "params.scss";

.color_pink {
  color: $color-pink !important;
}
.color_red {
  color: $color-red !important;
}
.color-purple {
  color: $color-purple !important;
}
.color_blue-dark {
  color: $color-blue-dark !important;
}
.color_blue {
  color: $color-blue !important;
}
.color_blue-light {
  color: $color-blue-light !important;
}
.color_green {
  color: $color-green !important;
}
.color_green-dark {
  color: $color-green-dark !important;
}
.color_yellow {
  color: $color-yellow !important;
}
.color_orange {
  color: $color-orange !important;
}
.color_orange-dark {
  color: $color-orange-dark !important;
}
.color_black {
  color: $color-black !important;
}
.color_grey-300 {
  color: $color-grey-300 !important;
}
.color_grey-290 {
  color: $color-grey-290 !important;
}
.color_grey-280 {
  color: $color-grey-280 !important;
}
.color_grey-270 {
  color: $color-grey-270 !important;
}
.color_grey-260 {
  color: $color-grey-260 !important;
}
.color_grey-250 {
  color: $color-grey-250 !important;
}
.color_grey-240 {
  color: $color-grey-240 !important;
}
.color_grey-230 {
  color: $color-grey-230 !important;
}
.color_grey-220 {
  color: $color-grey-220 !important;
}
.color_grey-210 {
  color: $color-grey-210 !important;
}
.color_grey-200 {
  color: $color-grey-200 !important;
}
.color_grey-190 {
  color: $color-grey-190 !important;
}
.color_grey-180 {
  color: $color-grey-180 !important;
}
.color_grey-170 {
  color: $color-grey-170 !important;
}
.color_grey-160 {
  color: $color-grey-160 !important;
}
.color_grey-150 {
  color: $color-grey-150 !important;
}
.color_grey-140 {
  color: $color-grey-140 !important;
}
.color_grey-130 {
  color: $color-grey-130 !important;
}
.color_grey-120 {
  color: $color-grey-120 !important;
}
.color_grey-110 {
  color: $color-grey-110 !important;
}
.color_grey-100 {
  color: $color-grey-100 !important;
}
.color_grey-90 {
  color: $color-grey-90 !important;
}
.color_grey-80 {
  color: $color-grey-80 !important;
}
.color_grey-70 {
  color: $color-grey-70 !important;
}
.color_grey-60 {
  color: $color-grey-60 !important;
}
.color_grey-50 {
  color: $color-grey-50 !important;
}
.color_grey-40 {
  color: $color-grey-40 !important;
}
.color_grey-30 {
  color: $color-grey-30 !important;
}
.color_grey-20 {
  color: $color-grey-20 !important;
}
.color_grey-10 {
  color: $color-grey-10 !important;
}
.color_white {
  color: $color-white !important;
}
.color_transparent {
  color: transparent !important;
}

.background-color_pink {
  background-color: $color-pink !important;
}
.background-color_red {
  background-color: $color-red !important;
}
.background-color-purple {
  background-color: $color-purple !important;
}
.background-color_blue-dark {
  background-color: $color-blue-dark !important;
}
.background-color_blue {
  background-color: $color-blue !important;
}
.background-color_blue-light {
  background-color: $color-blue-light !important;
}
.background-color_green {
  background-color: $color-green !important;
}
.background-color_green-dark {
  background-color: $color-green-dark !important;
}
.background-color_yellow {
  background-color: $color-yellow !important;
}
.background-color_orange {
  background-color: $color-orange !important;
}
.background-color_orange-dark {
  background-color: $color-orange-dark !important;
}
.background-color_black {
  background-color: $color-black !important;
}
.background-color_grey-300 {
  background-color: $color-grey-300 !important;
}
.background-color_grey-290 {
  background-color: $color-grey-290 !important;
}
.background-color_grey-280 {
  background-color: $color-grey-280 !important;
}
.background-color_grey-270 {
  background-color: $color-grey-270 !important;
}
.background-color_grey-260 {
  background-color: $color-grey-260 !important;
}
.background-color_grey-250 {
  background-color: $color-grey-250 !important;
}
.background-color_grey-240 {
  background-color: $color-grey-240 !important;
}
.background-color_grey-230 {
  background-color: $color-grey-230 !important;
}
.background-color_grey-220 {
  background-color: $color-grey-220 !important;
}
.background-color_grey-210 {
  background-color: $color-grey-210 !important;
}
.background-color_grey-200 {
  background-color: $color-grey-200 !important;
}
.background-color_grey-190 {
  background-color: $color-grey-190 !important;
}
.background-color_grey-180 {
  background-color: $color-grey-180 !important;
}
.background-color_grey-170 {
  background-color: $color-grey-170 !important;
}
.background-color_grey-160 {
  background-color: $color-grey-160 !important;
}
.background-color_grey-150 {
  background-color: $color-grey-150 !important;
}
.background-color_grey-140 {
  background-color: $color-grey-140 !important;
}
.background-color_grey-130 {
  background-color: $color-grey-130 !important;
}
.background-color_grey-120 {
  background-color: $color-grey-120 !important;
}
.background-color_grey-110 {
  background-color: $color-grey-110 !important;
}
.background-color_grey-100 {
  background-color: $color-grey-100 !important;
}
.background-color_grey-90 {
  background-color: $color-grey-90 !important;
}
.background-color_grey-80 {
  background-color: $color-grey-80 !important;
}
.background-color_grey-70 {
  background-color: $color-grey-70 !important;
}
.background-color_grey-60 {
  background-color: $color-grey-60 !important;
}
.background-color_grey-50 {
  background-color: $color-grey-50 !important;
}
.background-color_grey-40 {
  background-color: $color-grey-40 !important;
}
.background-color_grey-30 {
  background-color: $color-grey-30 !important;
}
.background-color_grey-20 {
  background-color: $color-grey-20 !important;
}
.background-color_grey-10 {
  background-color: $color-grey-10 !important;
}
.background-color_white {
  background-color: $color-white !important;
}
.background-color_transparent {
  background-color: transparent !important;
}
