@import "./params";

.cols {
  &_1 {
    display: grid;
    gap: $base * 4;
  }
  &_2 {
    display: grid;
    gap: $base * 4;
    grid-template-columns: repeat(2, 1fr);
  }
  &_3 {
    display: grid;
    gap: $base * 4;
    grid-template-columns: repeat(3, 1fr);
  }
  &_4 {
    display: grid;
    gap: $base * 4;
    grid-template-columns: repeat(4, 1fr);
  }
  &_5 {
    display: grid;
    gap: $base * 4;
    grid-template-columns: repeat(5, 1fr);
  }
  &_6 {
    display: grid;
    gap: $base * 4;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: $media-hg) {
  .cols {
    &_5 {
      grid-template-columns: repeat(4, 1fr);
    }
    &_6 {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
@media (max-width: $media-lg) {
  .cols {
    &_3 {
      grid-template-columns: repeat(2, 1fr);
    }
    &_4,
    &_5 {
      grid-template-columns: repeat(3, 1fr);
    }
    &_6 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media (max-width: $media-md) {
  .cols {
    &_4,
    &_5 {
      grid-template-columns: repeat(2, 1fr);
    }
    &_6 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: $media-sm) {
  .cols {
    &_2,
    &_3,
    &_4,
    &_5 {
      grid-template-columns: 1fr;
    }
    &_6 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: $media-xs) {
  .cols {
    &_6 {
      grid-template-columns: 1fr;
    }
  }
}
