@import "params.scss";
@import "animations.scss";
@import "colors.scss";
@import "cols.scss";
@import "card.scss";
@import "nprogress.scss";
@import "mui.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
  color: $color-black;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a,
.link {
  color: $color-blue;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-red;
  }

  &_disabled,
  &_disabled:hover {
    color: $color-grey-100;
    cursor: not-allowed;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

pre,
code {
  margin: 0;
  white-space: pre-wrap;
  font-family: $font-family-mono;
  font-weight: 500;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $color-white !important;
  -webkit-box-shadow: 0 0 0 30px $color-grey-300 inset !important;
}

@media print {
  html,
  body {
    display: none;
  }
}
