@import "params.scss";
@import "nprogress.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $font-size;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  height: 100%;
  background-color: $color-grey-20;
}

* {
  box-sizing: border-box;
}

a,
.link {
  color: $color-blue;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-blue-dark;
  }

  &_disabled,
  &_disabled:hover {
    color: $color-grey-100;
    cursor: not-allowed;
  }
}

.bold {
  font-weight: 600 !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

pre,
code {
  margin: 0;
  white-space: pre-wrap;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-box-shadow: transparent !important;
}

@media print {
  html,
  body {
    display: none;
  }
}
