$font-family: "Open Sans", sans-serif;

$font-size: 12px;
$base: 5px;
$radius: 5px;
$shadow-3: 0 3px 12px 0 rgba(0, 0, 0, 0.12);

// --- blue ---

$color-blue-dark: #1e2a83;
$color-blue: #2f41cd;
$color-blue-70: #6d7adc;
$color-blue-40: #acb3eb;
$color-blue-20: #d5d9f5;
$color-blue-10: #eaecfa;

// --- info ---

$color-info-dark: #0e50a3;
$color-info: #167dff;
$color-info-70: #5ca4ff;
$color-info-40: #a2cbff;
$color-info-20: #d0e5ff;
$color-info-10: #e8f2ff;

// --- success ---

$color-success-dark: #007b4b;
$color-success: #00c075;
$color-success-70: #4dd39e;
$color-success-40: #99e6c8;
$color-success-20: #ccf2e3;
$color-success-10: #e5f9f1;

// --- warning ---

$color-warning-dark: #a2631c;
$color-warning: #fd9b2c;
$color-warning-70: #feb96b;
$color-warning-40: #fed7ab;
$color-warning-20: #ffebd5;
$color-warning-10: #fff6e5;

// --- error ---

$color-error-dark: #972750;
$color-error: #ec3d7d;
$color-error-70: #f277a4;
$color-error-40: #f7b1cb;
$color-error-20: #fbd8e5;
$color-error-10: #fdecf2;

// --- black & white ---

$color-white: #fff;
$color-black: #111;

// --- grey ---

$color-grey-300: #111419;
$color-grey-290: #191c21;
$color-grey-280: #212429;
$color-grey-270: #292c31;
$color-grey-260: #313439;
$color-grey-250: #393c41;
$color-grey-240: #414449;
$color-grey-230: #494c51;
$color-grey-220: #515459;
$color-grey-210: #595c61;
$color-grey-200: #616469;
$color-grey-190: #696c71;
$color-grey-180: #717479;
$color-grey-170: #797c81;
$color-grey-160: #818489;
$color-grey-150: #898c91;
$color-grey-140: #919499;
$color-grey-130: #999ca1;
$color-grey-120: #a1a4a9;
$color-grey-110: #a9acb1;
$color-grey-100: #b1b4b9;
$color-grey-90: #b9bcc1;
$color-grey-80: #c1c4c9;
$color-grey-70: #c9ccd1;
$color-grey-60: #d1d4d9;
$color-grey-50: #d9dce1;
$color-grey-40: #e1e4e9;
$color-grey-30: #e9ecf1;
$color-grey-20: #f1f4f9;
$color-grey-10: #f9faff;

$color-tooltip: $color-grey-280;

$media-xs: 0;
$media-sm: 600px;
$media-md: 900px;
$media-lg: 1200px;
$media-xl: 1400px;
