$font-family: "Open Sans", sans-serif;

$font-size: 14px;
$base: 5px;
$radius: 4px;
$shadow-3: 0 3px 12px 0 rgba(0, 0, 0, 0.12);

// --- purple ---

$color-purple: #5c5aff;
$color-purple-70: #8d8dff;
$color-purple-40: #bebdff;
$color-purple-20: #dedeff;
$color-purple-10: #efeeff;

// --- purple-dark ---

$color-purple-dark: #3a398c;
$color-purple-dark-70: #7574af;
$color-purple-dark-40: #b0b0d1;
$color-purple-dark-20: #d8d7e8;
$color-purple-dark-10: #ebebf3;

// --- success ---

$color-success: #30b675;
$color-success-70: #6ecc9f;
$color-success-40: #ace2c8;
$color-success-20: #d6f0e3;
$color-success-10: #eaf8f1;

// --- warning ---

$color-warning: #fd9b2c;
$color-warning-70: #feb96b;
$color-warning-40: #fed7ab;
$color-warning-20: #ffebd5;
$color-warning-10: #fff5ea;

// --- error ---

$color-error: #d71105;
$color-error-70: #e35850;
$color-error-40: #efa09b;
$color-error-20: #f7cfcd;
$color-error-10: #fbe7e6;

// --- info ---

$color-info: #3677dc;
$color-info-70: #72a0e7;
$color-info-40: #afc9f1;
$color-info-20: #d7e4f8;
$color-info-10: #ebf1fb;

// --- black & white ---

$color-white: #fff;
$color-black: #111;

// --- grey ---

$color-grey-300: #111419;
$color-grey-290: #191c21;
$color-grey-280: #212429;
$color-grey-270: #292c31;
$color-grey-260: #313439;
$color-grey-250: #393c41;
$color-grey-240: #414449;
$color-grey-230: #494c51;
$color-grey-220: #515459;
$color-grey-210: #595c61;
$color-grey-200: #616469;
$color-grey-190: #696c71;
$color-grey-180: #717479;
$color-grey-170: #797c81;
$color-grey-160: #818489;
$color-grey-150: #898c91;
$color-grey-140: #919499;
$color-grey-130: #999ca1;
$color-grey-120: #a1a4a9;
$color-grey-110: #a9acb1;
$color-grey-100: #b1b4b9;
$color-grey-90: #b9bcc1;
$color-grey-80: #c1c4c9;
$color-grey-70: #c9ccd1;
$color-grey-60: #d1d4d9;
$color-grey-50: #d9dce1;
$color-grey-40: #e1e4e9;
$color-grey-30: #e9ecf1;
$color-grey-20: #f1f4f9;
$color-grey-10: #f9faff;

$color-tooltip: $color-grey-280;

$media-xs: 0;
$media-sm: 600px;
$media-md: 900px;
$media-lg: 1200px;
$media-xl: 1400px;
