@import "../../scss/params";

.dot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: $base * 2;
  height: $base * 2;
  background-color: $color-red;
  border-radius: 999px;
  margin: 0;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    top: -$base;
    right: -$base;
    bottom: -$base;
    left: -$base;

    opacity: 0;
    border: 2px solid $color-red;
    border-radius: 999px;

    animation: pulse 1000ms linear infinite;
  }
}
