@import "../../../../core/scss/params";

.account {
  & .MuiDivider-root {
    margin-top: $base * 2 - 2;
    margin-bottom: $base * 2 - 2;
    border-color: $color-grey-30;
  }

  &__container {
    padding: $base + 1 ($base * 3 + 1);
    display: flex;
    flex-direction: column;
    gap: $base * 4;
  }
  &__top {
    display: flex;
    gap: $base * 3;
  }
  &__avatar {
    flex: 0 0 auto;

    & .MuiAvatar-root {
      color: $color-grey-100;
      background-color: $color-grey-20;
      box-sizing: border-box;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: $base * 3;
    flex: 1 1 auto;
    min-width: $base * 40;
  }
  &__user {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    gap: $base;
  }
  &__email {
    font-weight: 500;
  }
}
