@import "../../scss/params";

.skeleton {
  &.MuiSkeleton-root {
    background-color: $color-grey-30;
  }

  &__image {
    animation: MuiSkeleton-keyframes-pulse 1.5s ease-in-out 0.5s infinite;
    background-color: $color-grey-30;
    border-radius: $border-radius-default;
  }
}
