@import "../../../scss/params";

.tabs__panel {
  flex: 1 1 auto;
  position: relative;

  &_active {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &_no-padding {
    margin: 0 (-$base * 4) (-$base * 4);
  }
}
