@import "../../../../core/scss/params";

.menu-item {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;

  & .MuiButtonBase-root {
    height: $input-height;
  }
  & .button.MuiButton-root {
    width: 100%;
    justify-content: flex-start;

    & .button-text {
      flex: 1 1 auto;
      display: flex;
    }
  }
  & .MuiCollapse-root {
    width: 100%;
  }
}
