@import "../../../../../core/scss/params";
@import "../params";

.default-renderer {
  line-height: $line-height;
  padding: $base * 2 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
