@import "../../../../../../core/scss/params";

.module-item {
  &__header {
    display: flex;
    flex-direction: column;
    gap: $base;
  }
  &__name {
    display: flex;
    font-size: 1.3rem;
    font-weight: 500;
    color: $color-grey-250;
    flex: 0 0 auto;
    line-height: 1.5;
  }
  &__title {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    color: $color-grey-100;
    flex: 0 0 auto;
    gap: $base * 2;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    gap: $base * 2;
    padding: $base * 2 0;
  }
  &__li {
    display: flex;
    gap: $base * 2;
    align-items: center;

    &-icon {
      display: flex;
    }
    &-label {
      display: flex;
      padding: 2px 0;
      flex: 1 1 auto;
    }
  }
}
